html {
  background-color: $background-color;
  color: $text-color;
  font-family: $base-font-family;
  font-weight: 400;
  font-size: ms(0);
  line-height: 1.5em;
  @include breakpoint(30em){
    font-size: ms(1);
  }
  @include breakpoint(60em){
    font-size: ms(2);
  }
}

a:link,
a:visited {
  @include trans(.08s, ease);
  text-decoration: none;
  color: $active-color;
  background-image:
    linear-gradient(
      to top,
      rgba($active-color, .5) .033em,
      transparent .033em
    );
  background-position-y: -.125em;
  &:hover,
  &:focus,
  &:active {
    color: $active-hover-color;
    background-image:
      linear-gradient(
        to top,
        rgba($active-hover-color, .5) .033em,
        transparent .033em
      );
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $display;
  font-weight: normal;
  line-height: ms(1);
  margin: 0;
}

h1 {
  font-size: ms(6);
  margin-bottom: ms(-9);
}

h2 {
  font-size: ms(4);
  margin-bottom: ms(-8);
}

h3 {
  font-size: ms(3);
  margin-bottom: ms(-7);
}

h4 {
  font-size: ms(2);
  margin-bottom: ms(-6);
}

h5 {
  font-size: ms(1);
  margin-bottom: ms(-5);
}

h6 {
  font-size: ms(0);
  margin-bottom: ms(-4);
}

p {
  font-size: ms(0);
  margin: 0 0 ms(2) 0;
}

figure {
  background-color: $gray-light;
  margin: ms(2) 0;
  padding: ms(1) ms(15) 1px ms(15);
}

img {
  width: 100%;
  vertical-align: bottom;
}

section {
  margin: ms(4) 0;
}

ul {
  padding-left: 1.125em;
}

ol {
  padding-left: 1.5em;
}
