/**
 * @file
 * Base partial.
 * HTML elements and shared styles.
 */

 html {
  background-color: $color--bg;
  color: $color--text;
  font-family: $base-font-family;
  font-weight: 400;
  font-size: ms(1);
  line-height: 1.5em;
  @include breakpoint(60em){
    font-size: ms(1.5);
  }
  @include breakpoint(75em){
    font-size: ms(2);
  }
}

body {
  margin: ms(1);
  @include breakpoint(30em){
    margin: ms(4);
  }
  @include breakpoint(45em){
    margin: ms(8);
  }
}

a:link,
a:visited {
  color: $color--active;
  @include trans(.1s, ease);
  &:hover,
  &:focus,
  &:active {
    color: $color--active-hover;
  }
}

blockquote {
  font-style: italic;
  text-indent: -.425em;
  margin: 1.8em 2.2em 2.6em 2.2em;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $display;
  font-weight: normal;
  line-height: ms(1);
  margin: 0;
}

h1 {
  font-size: ms(6);
  margin-bottom: ms(-9);
}

h2 {
  font-size: ms(4);
  margin-bottom: ms(-8);
}

h3 {
  font-size: ms(3);
  margin-bottom: ms(-7);
}

h4 {
  font-size: ms(2);
  margin-bottom: ms(-6);
}

h5 {
  font-size: ms(1);
  margin-bottom: ms(-5);
}

h6 {
  color: $color--gray-medium;
  font-family: $sans;
  font-size: 12px;
  font-weight: 900;
  margin-bottom: ms(2);
  @extend %all-caps;
}

p,
ul,
ol {
  font-size: ms(0);
  margin: 0 0 ms(2) 0;
}

figure {
  margin: ms(12) 0;
}

figcaption {
  font-style: italic;
  font-size: ms(-3);
  line-height: 1.25;
  margin-top: ms(-3);
}

img {
  vertical-align: bottom;
  width: 100%;
}

section {
  margin: ms(4) 0;
}

ul {
  list-style-type: disc;
}

ol,
ul {
  list-style-position: outside;
  padding: 0;
  margin-left: 1.1em;
}

li > ol,
li > ul {
  margin-bottom: 0px;
  padding-left: 1.1em;
}

.img-bg {
  background-color: $color--gray-lightest;
}

.img-inline {
  @include container(89%);
  @include breakpoint(30em){
    @include container(80%);
  }
  @include breakpoint(45em){
    @include container(70%);
  }
  @include breakpoint(60em){
    @include container(54%);
  }
}

.img-wide {
  @include container(89%);
  @include breakpoint(30em){
    @include container(80%);
  }
  @include breakpoint(45em){
    @include container(75%);
  }
  @include breakpoint(60em){
    @include container(75%);
  }
}

.img-row {
  @include container(89%);
  @include breakpoint(30em){
    @include container(80%);
  }
  @include breakpoint(45em){
    @include container(75%);
  }
  @include breakpoint(60em){
    @include container(75%);
  }
  display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
  & .flex-container {
    flex-basis: auto;
    margin-right: 10px;
    @include breakpoint(45em){
      margin-right: ms(4);
    }
    @include breakpoint(60em){
      margin-right: ms(8);
    }
    &:last-of-type {
      margin-right: 0;
    }
  }
}

.general {
  margin-top: ms(8);
  margin-bottom: ms(8);
  @include breakpoint(30em){
    margin-top: ms(12);
    margin-bottom: ms(12);
  }
}

.measure {
  @include container(100%);
  @include breakpoint(30em){
    @include container(80%);
  }
  @include breakpoint(45em){
    @include container(70%);
  }
  @include breakpoint(60em){
    @include container(54%);
  }
}

.screen {
  border: 1px solid $color--gray-lightest;
  box-shadow: 0px 2px 18px 0px rgba(0,0,0, .05);
  @include breakpoint(45em){
    border-radius: .25em;
  }
}
