/**
 * @file
 * Initialization partial.
 * Declare font stacks, variables, etc.
 */

// Font Stacks
$times-new-roman: "Times New Roman", Times, Georgia, "DejaVu Serif", serif;
$times: Times, "Times New Roman", Georgia, "DejaVu Serif", serif;
$georgia: Georgia, "Times New Roman", "DejaVu Serif", serif;
$verdana: Verdana, Tahoma, "DejaVu Sans", sans-serif;
$tahoma: Tahoma, Verdana, "DejaVu Sans", sans-serif;
$helvetica: Helvetica, Arial, "Nimbus Sans L", sans-serif;
$arial: Arial, Helvetica, "Nimbus Sans L", sans-serif;
$monospace: "Lucida Sans Typewriter", "Courier New", Consolas,"Andale Mono", "Lucida Console", monospace;
$sans: $helvetica;
$serif: TiemposText, $georgia;
$display: TiemposHeadline;

// Type Definition
$base-font-family: $serif;
$ms-base: 1em;
$ms-ratio: $major-second;

// Color Definition
$gray-darkest: #333;
$gray-dark: #666;
$gray-medium: #999;
$gray-light: #f2f2f2;
$off-white: #fcfcfc;
$blue-light: #0077dd;

// Color Variables
$text-color: $gray-darkest;
$background-color: $off-white;
$active-color: $blue-light;
$active-hover-color: darken($active-color, 20%);

// Brand Variables
$brand-primary: $gray-medium;
$aug-primary: #ffd200;
$aug-secondary: #002147;
$chop-primary: #F98B36;
$chop-secondary: #214D55;
$int-primary: #DA2741;
$int-secondary: #363433;
