/**
 * @file
 * Initialization partial.
 * Declare font stacks, variables, etc.
 */

// Font Stacks
$times-new-roman: "Times New Roman", Times, Georgia, "DejaVu Serif", serif;
$times: Times, "Times New Roman", Georgia, "DejaVu Serif", serif;
$georgia: Georgia, "Times New Roman", "DejaVu Serif", serif;
$verdana: Verdana, Tahoma, "DejaVu Sans", sans-serif;
$tahoma: Tahoma, Verdana, "DejaVu Sans", sans-serif;
$helvetica: Helvetica, Arial, "Nimbus Sans L", sans-serif;
$arial: Arial, Helvetica, "Nimbus Sans L", sans-serif;
$monospace: "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "Courier New", Consolas, monospace;
$sans: $helvetica;
$serif: TiemposText, $georgia;
$display: TiemposHeadline;

// Type Definition
$base-font-family: $serif;
$ms-base: 1em;
$ms-ratio: $major-second;

// Color Definition
$color--gray-darkest: #333;
$color--gray-dark: #666;
$color--gray-medium: #999;
$color--gray-light: #dfdfdf;
$color--gray-lightest: #f1f1f1;
$color--off-white: #f9f9f9;
$color--blue-medium: #0077dd;

// Color Variables
$color--text: $color--gray-darkest;
$color--bg: $color--off-white;
$color--active: $color--blue-medium;
$color--active-hover: darken($color--active, 20%);

// Brand Variables
$color--aug-primary: #ffd200;
$color--aug-secondary: #002147;
$color--cent-primary: #FFBF3D;
$color--cent-secondary: #1F1500;
$color--chop-primary: #F98B36;
$color--chop-secondary: #214D55;
$color--int-primary: #DA2741;
$color--int-secondary: #363433;
$color--map-primary: #1F1500;
$color--map-secondary: #1F1500;
