<!-- Save this and the index to see updates -->
<h6 class="post-nav__header"></h6>
<div class="post-nav-posts">
  {% if page.next.url %}
    <a class="post-nav__post {{ page.next.class }}" href="{{ site.baseurl }}{{ page.next.url }}" style="background-image: url({{ site.baseurl }}/assets/imgs/{{ page.next.image }})">
    <h4 class="post-nav__title">{{ page.next.title }}</h4>
    </a>
  {% else %}
    <!-- Broken. Open PR @https://github.com/Shopify/liquid/pull/456
    {% for post in site.posts reversed limit:1 %}
    {% endfor %} -->
    <!-- Temporary fix with array -->
    {% assign lastpost = site.posts | reverse %}
    {% for post in lastpost limit:1 %}
      <a class="post-nav__post {{ post.class }}" href="{{ site.baseurl }}{{ post.url }}" style="background-image: url({{ site.baseurl }}/assets/imgs/{{ post.image }})">
      <h4 class="post-nav__title">{{ post.title }}</h4>
      </a>
    {% endfor %}
  {% endif %}

  {% if page.previous.url %}
    <a class="post-nav__post {{ page.previous.class }}" href="{{ site.baseurl }}{{ page.previous.url }}" style="background-image: url({{ site.baseurl }}/assets/imgs/{{ page.previous.image }})">
    <h4 class="post-nav__title">{{ page.previous.title }}</h4>
    </a>
  {% else %}
    {% for post in site.posts limit:1 %}
      <a class="post-nav__post {{ post.class }}" href="{{ site.baseurl }}{{ post.url }}" style="background-image: url({{ site.baseurl }}/assets/imgs/{{ post.image }})">
      <h4 class="post-nav__title">{{ post.title }}</h4>
      </a>
    {% endfor %}
  {% endif %}
</div>
