/*!
 * @file (SMACSS module)
 * Defines header Component
 */

.header {
}

.post .header {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
}

.header-nav {
  font-family: $sans;
  font-size: 12px;
  font-weight: 600;
  line-height: 32px;
  padding: ms(2);
  @include breakpoint(30em){
    padding: ms(2) ms(6);
  }
}

.header-nav__navlink {
  line-height: 32px;
  margin-left: .33em;
}

.header-nav__navlink#about {
  float: right;
}

.header-nav a:link,
.header-nav a:visited {
  background-image: none;
  color: $color--gray-medium;
  @extend %all-caps;
  &:hover,
  &:focus,
  &:active {
    color: $color--text;
    background-image: none;
  }
}

body#aug .header-nav a:link,
body#aug .header-nav a:visited {
  color: white;
  &:hover,
  &:focus,
  &:active {
    color: $color--aug-primary;
  }
}

body#chop .header-nav a:link,
body#chop .header-nav a:visited {
  color: white;
  &:hover,
  &:focus,
  &:active {
    color: $color--chop-primary;
  }
}

body#int .header-nav a:link,
body#int .header-nav a:visited {
  color: white;
  &:hover,
  &:focus,
  &:active {
    color: $color--int-primary;
  }
}
