/*!
 * @file (SMACSS module)
 * Defines header Component
 */

.header-nav {
  font-family: $sans;
  font-size: 12px;
  font-weight: 600;
  line-height: 32px;
  margin: auto;
  display: flex;
    justify-content: space-between;
  padding-top: ms(2);
  padding-bottom: ms(2);
  width: 90%;
  @include breakpoint(30em){
    width: 92%;
  }
  @include breakpoint(45em){
    padding-top: ms(6);
    padding-bottom: ms(6);
    width: 95%;
  }
}

.header-nav a:link,
.header-nav a:visited {
  text-decoration: none;
  background-image: none;
  color: $color--gray-medium;
  @extend %all-caps;
  &:hover,
  &:focus,
  &:active {
    color: $color--text;
    background-image: none;
  }
}

body.post .header-nav a:link,
body.post .header-nav a:visited {
  color: white;
}
body.aug .header-nav a:link,
body.aug .header-nav a:visited {
  &:hover,
  &:focus,
  &:active {
    color: $color--aug-primary;
  }
}
body.cent .header-nav a:link,
body.cent .header-nav a:visited {
  &:hover,
  &:focus,
  &:active {
    color: $color--cent-primary;
  }
}
body.chop .header-nav a:link,
body.chop .header-nav a:visited {
  &:hover,
  &:focus,
  &:active {
    color: $color--chop-primary;
  }
}
body.int .header-nav a:link,
body.int .header-nav a:visited {
  &:hover,
  &:focus,
  &:active {
    color: $color--int-primary;
  }
}
body.map .header-nav a:link,
body.map .header-nav a:visited {
  &:hover,
  &:focus,
  &:active {
    color: $color--map-primary;
  }
}
