/*!
 * @file (SMACSS module)
 * Defines link-list Component
 */

.link-list {
  list-style-type: none;
  padding: 0;
}

.link-list-item {
  background-image: none !important;
  border-top: 1px solid $gray-light;
  display: block;
  padding: ms(-1) 0;
  &:last-of-type {
    border-bottom: 1px solid $gray-light;
  }
  &:hover .link-list-item__name {
    color: $active-color;
  }
  &:hover .link-list-item__name:after {
    opacity: 1;
    right: 3px;
  }
}

.link-list-item__name {
  @include trans(.08s, ease);
  color: $text-color;
  position: relative;
  &:after {
    @include triangle(.275em, currentColor);
    @include trans(.08s, ease);
    content: "";
    font-size: 1.325em;
    position: absolute;
      right: 10px;
      top: 33%;
    opacity: .25;
    vertical-align: baseline;
  }
}
