/*!
 * @file (SMACSS module)
 * Defines link-list Component
 */

.link-list {
  list-style-type: none;
  padding: 0;
  margin-left: 0;
  & a {
    text-decoration: none;
  }
}

.link-list-item {
  background-image: none !important;
  border-top: 1px solid $color--gray-light;
  border-bottom: 1px solid rgba($color--gray-light,0);
  display: block;
  padding: ms(-1) 0;
  margin-top: -1px;
  &:hover {
    transform: translateX(6px);
    border-bottom: 1px solid rgba($color--gray-light,1);
  }
  &:last-of-type {
    border-bottom: 1px solid $color--gray-light;
  }
  &:hover .link-list-item__name {
    color: $color--active;
  }
  &:hover .link-list-item__name:after {
    opacity: .8;
  }
}

.link-list-item__name {
  @include trans(.1s, ease);
  color: $color--text;
  position: relative;
  &:after {
    @include triangle(.275em, currentColor);
    @include trans(.08s, ease);
    content: "";
    font-size: 1.325em;
    position: absolute;
      right: 10px;
      top: 33%;
    opacity: .25;
    vertical-align: baseline;
  }
}
