/*!
 * @file (SMACSS module)
 * Defines post-nav Component
 */

.post-nav__header {
  background-color: $color--gray-light;
  height: 1px;
  margin: ms(16) 0 ms(12) 0;
  @include container(89%);
  @include breakpoint(30em){
    @include container(80%);
  }
  @include breakpoint(45em){
    @include container(70%);
  }
  @include breakpoint(60em){
    @include container(54%);
  }
  &:before {
    background-color: $color--bg;
    content: "View More Projects";
    display: inline-block;
    font-size: ms(0);
    padding: 0 ms(2);
    position: relative;
      left: 50%;
    transform: translate(-50%, -50%);
  }
}

.post-nav-posts {
  display: flex;
  flex-direction: row;
  margin-top: ms(1);
  & a {
    text-decoration: none;
  }
}

.post-nav__post {
  @extend .post-list__post;
  background-position: 50% 50% !important; //overrides default link styling
  //height: 160px;
  height: calc(100vw * (1/3));
  width: 50%;
  &:first-of-type {
    margin-right: 0px;
  }
  @include breakpoint(30em){
    //height: 201px;
    height: calc(100vw * (1/4));
  }
  @include breakpoint(45em){
    //height: 201px;
    height: calc(100vw * (1/5));
  }
  @include breakpoint(60em){
    //height: 243px;
    height: calc(100vw * (1/6));
  }
}

.post-nav__title {
  color: white;
  position: relative;
  z-index: 2;
  font-size: .925em;
  line-height: 1.33;
  @include breakpoint(30em){
    font-size: 1em;
  }
  @include breakpoint(45em){
    font-size: ms(2);
  }
  @include breakpoint(75em){
    font-size: ms(2.5);
  }
}
