/*!
 * @file (SMACSS module)
 * Defines PostList Component
 */

.post-list {
  margin: 0px;
  & a {
    text-decoration: none;
  }
}

.post-list__post {
  background-color: $color--gray-light;
  background-size: cover;
  background-position: 50% 45%;
  color: white;
  display: flex;
    justify-content: center;
    align-items: center;
  margin: 0px 0px ms(2) 0px;
  padding: 0 ms(1);
  position: relative;
  text-align: center;
  //height: ms(24);
  height: calc(100vw * (1/1.5));
  @include breakpoint(30em){
    //height: 640px;
    height: calc(100vw * (1/2));
    //height: 66vh;
    margin: 0px 0px ms(4) 0px;
  }
  @include breakpoint(45em){
    //height: 640px;
    height: calc(100vw * (1/3));
    //height: 66vh;
    margin: 0px 0px ms(8) 0px;
  }
  &:before {
    content: "";
    display: block;
    position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    z-index: 1;
    opacity: .09;
    @include trans(.1s, ease);
  }
  &.aug:before {
    background-color: $color--aug-secondary;
  }
  &.cent:before {
    background-color: $color--cent-secondary;
  }
  &.chop:before {
    background-color: $color--chop-secondary;
  }
  &.int:before {
    background-color: $color--int-secondary;
  }
  &.map:before {
    background-color: $color--cent-secondary;
  }
  &:hover:before {
    opacity: .21;
  }
  &:hover .post-list__button {
    transform:translateY(-3px);
  }
}

.post-list__info {
  position: relative;
  z-index: 2;
  color: white;
  font-size: ms(-1);
  @include breakpoint(30em){
    font-size: ms(0);
  }
}
.post-list__headline {
  font-size: ms(-1);
  line-height: 1.33;
  margin-bottom: ms(2);
}
.post-list__metadata {
  font-style: italic;
  font-size: ms(-1);
  margin-bottom: ms(-10);
}
.post-list__title {
  font-size: ms(2.5);
  @include breakpoint(30em){
    font-size: ms(3);
  }
  @include breakpoint(45em){
    font-size: ms(3.5);
  }
  @include breakpoint(60em){
    font-size: ms(4);
  }
  @include breakpoint(75em){
    font-size: ms(6);
  }
}

.post-list__button {
  @extend %button;
  &.aug {
    background: $color--aug-primary;
  }
  &.cent {
    background: $color--cent-primary;
  }
  &.chop {
    background: $color--chop-primary;
    color: white !important;
  }
  &.int {
    background: $color--int-primary;
    color: white !important;
  }
  &.map {
    background: $color--cent-primary;
  }
}
