/*!
 * @file (SMACSS module)
 * Defines post Component
 */

.post .header {
  position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
}

.post-hero {
  background-position: 50% 50%;
  background-size: cover;
  color: white;
  display: flex;
    justify-content: center;
    align-items: flex-end;
  height: 570px;
  margin: 0px 0px ms(8) 0px;
  @include breakpoint(45em){
    height: 640px;
  }
}

.post-hero__headline {
  text-align: center;
  @include breakpoint(60em){
    font-size: ms(7);
  }
}

.post-hero__metadata {
  font-size: ms(-2);
  font-style: italic;
  margin-bottom: ms(4);
  text-align: center;
}

.post-hero__headline,
.post-hero__metadata {
  @include container(90%);
  @include breakpoint(30em){
    @include container(85%);
  }
  @include breakpoint(45em){
    @include container(80%);
  }
  @include breakpoint(60em){
    @include container(75%);
  }
}

