/*!
 * @file (SMACSS module)
 * Defines PostList Component
 */

.post-list {
  margin: 0;
}

.post-list__post {
  background-color: $gray-light;
  background-size: cover;
  background-position: 50% 10%;
  color: white;
  display: flex;
    justify-content: center;
    align-items: center;
  height: 368px;
  margin-bottom: 1px;
  padding: 0 30px;
  position: relative;
  text-align: center;
  &:before {
    content: "";
    display: block;
    position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    z-index: 1;
    opacity: 0;
    @include trans(.2s, ease);
  }
  &.aug:before {
    background-color: $aug-secondary;
  }
  &.chop:before {
    background-color: $chop-secondary;
  }
  &.int:before {
    background-color: $int-secondary;
  }
  &:hover:before {
    opacity: .1;
  }
}

.post-list__info {
  position: relative;
  z-index: 2;
}
.post-list__metadata {
  font-style: italic;
  font-size: ms(-1);
  margin-bottom: ms(-8);
}

.post-list__title {
}

.post-list__button {
  @extend %button;
  &.aug {
    background: $aug-primary;
  }
  &.chop {
    background: $chop-primary;
    color: white !important;
  }
  &.int {
    background: $int-primary;
    color: white !important;
  }
}
