/*!
 * @file (SMACSS module)
 * Defines post Component
 */

.post-intro {
  background-position: 50% 50%;
  background-size: cover;
  height: 570px;
  color: white;
  display: flex;
    justify-content: center;
    align-items: flex-end;
  margin: 0px 0px ms(4) 0px;
  @include breakpoint(45em){
    height: 640px;
  }
}

.post-intro__headline {
  text-align: center;
}

.post-intro__metadata {
  font-size: ms(-1);
  font-style: italic;
  text-align: center;
  margin-bottom: ms(4);
}

.post-intro__headline,
.post-intro__metadata {
  @include container(90%);
  @include breakpoint(30em){
    @include container(85%);
  }
  @include breakpoint(45em){
    @include container(80%);
  }
  @include breakpoint(60em){
    @include container(75%);
  }
}

.post-content p,
.post-content__img-inline {
  @include container(85%);
  @include breakpoint(30em){
    @include container(80%);
  }
  @include breakpoint(45em){
    @include container(70%);
  }
  @include breakpoint(60em){
    @include container(54%);
  }
}

.post-content__img-wide {
  @include container(85%);
  @include breakpoint(30em){
    @include container(80%);
  }
  @include breakpoint(45em){
    @include container(75%);
  }
  @include breakpoint(60em){
    @include container(75%);
  }
}

.post-content__img-centered {
  @include container(85%);
  @include breakpoint(30em){
    @include container(80%);
  }
  @include breakpoint(45em){
    @include container(75%);
  }
  @include breakpoint(60em){
    @include container(75%);
  }
  display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
  & .flex-container {
    flex-basis: auto;
    margin-right: 10px;
    @include breakpoint(45em){
      margin-right: ms(4);
    }
    @include breakpoint(60em){
      margin-right: ms(8);
    }
    &:last-of-type {
      margin-right: 0;
    }
  }
}

.screen {
  border: 1px solid #f1f1f1;
  box-shadow: 0px 2px 18px 0px rgba(0,0,0, .04);
  @include breakpoint(45em){
    border-radius: .25em;
  }
}
