/*!
 * @file (SMACSS module)
 * Defines post-nav Component
 */

.post-nav__header {
  background-color: $gray-light;
  height: 1px;
  margin: ms(16) 0 ms(12) 0;
  @include container(85%);
  @include breakpoint(30em){
    @include container(80%);
  }
  @include breakpoint(45em){
    @include container(70%);
  }
  @include breakpoint(60em){
    @include container(54%);
  }
  &:before {
    background-color: $background-color;
    content: "View More Projects";
    display: inline-block;
    font-size: ms(0);
    padding: 0 ms(2);
    position: relative;
      left: 50%;
    transform: translate(-50%, -50%);
  }
}

.post-nav-posts {
  display: flex;
  flex-direction: row;
  margin-top: ms(1);
}

.post-nav__post {
  @extend .post-list__post;
  background-position: 50% 50% !important; //overrides default link styling
  height: 160px;
  width: 50%;
  &:first-of-type {
    margin-right: 1px;
  }
  @include breakpoint(45em){
    height: 201px;
  }
  @include breakpoint(60em){
    height: 243px;
  }
}

.post-nav__title {
  color: white;
  position: relative;
  z-index: 2;
}
