/*!
 * @file (SMACSS module)
 * Defines SiteHeader Component
 */

.siteHeader {
  font-family: $sans;
  font-size: 12px;
  padding: ms(2) 30px;
  text-transform: lowercase;
  font-weight: 600;
  line-height: 32px;
}

.siteHeader-nav {
  display: inline-block;
  float: right;
}

.siteHeader a:link,
.siteHeader a:visited {
  background-image: none;
  color: $gray-medium;
  &:hover,
  &:focus,
  &:active {
    color: $text-color;
    background-image: none;
  }
  @extend %all-caps;
}

.siteHeader-navLink {
  line-height: 32px;
  margin-left: .33em;
}

body#home a#home,
body#about a#about {
  color: $text-color;
}

.Post-header .siteHeader a {
  color: white;
}
