/*!
 * @file (SMACSS module)
 * Defines SiteFooter Component
 */

.siteFooter {
  font-family: $sans;
  font-size: ms(-4);
  font-weight: 600;
  color: $color--gray-medium;
  margin: auto;
    display: flex;
    justify-content: space-between;
  padding: 0px 0px ms(2) 0px;
  @include breakpoint(30em){
    padding: 0px 0px 0px 0px;
  }
}

.siteFooter-email {
  float: right;
}
