/*!
 * @file (SMACSS module)
 * Defines SiteFooter Component
 */

.siteFooter {
  font-family: $sans;
  font-size: 12px;
  color: $color--gray-medium;
  margin: auto;
  padding-top: ms(4);
  padding-bottom: ms(4);
  width: 90%;
  @include breakpoint(30em){
    width: 92%;
  }
  @include breakpoint(45em){
    padding-top: ms(9);
    padding-bottom: ms(9);
    width: 95%;
  }
}

.siteFooter-email {
  float: right;
}
