/*!
 * @file (SMACSS module)
 * Defines post-nav Component
 */

.post-nav {
  display: flex;
  flex-direction: row;
  margin-top: ms(8);
}

.post-nav__post {
  @extend .post-list__post;
  background-position: 50% 50% !important; //overrides default link styling
  height: 160px;
  width: 50%;
  &:first-of-type {
    margin-right: 1px;
  }
  @include breakpoint(45em){
    height: 201px;
  }
  @include breakpoint(60em){
    height: 243px;
  }
}

.post-nav__title {
  color: white;
}
