{% include site-header.html %}
{% include header.html %}
<main>
  <div class="post-intro" style="background-image: url({{ site.baseurl }}/assets/imgs/{{ page.image }})">
    <div>
      <h1 class="post-intro__headline">{{ page.headline }}</h1>
      <p class="post-intro__metadata">{{ page.project-date }}&ensp;&middot;&ensp;{{ page.tags | join: " / " }}</a></p>
    </div>
  </div>
  <div class="post-content">
    {{ content }}
    <div class="measure">
    {% include link-list.html %}
    </div>
  </div>
</main>
{% include post-nav.html %}
{% include site-footer.html %}
